@mixin floatContainer {
  float: left;
  height: 100%;
}

@mixin btn {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  background-color: $brandColor;
  border: 1px solid darken($brandColor, 20%);
  border-radius: 10px;
  font-size: 20px;
}
